*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/.name

.idea/compiler.xml

.idea/runConfigurations.xml

.idea/modules.xml

.idea/misc.xml

.idea/gradle.xml

.idea/encodings.xml

.idea/copyright/profiles_settings.xml
